<?xml version="1.0"?>
<launch>
	<arg name="use_sim_time" default="true"/>
	<arg name="world" default="robocup14_spl_field"/>
	<arg name="debug" default="false"/>
	<arg name="physics" default="ode"/>
	
	<group if="$(arg use_sim_time)">
	 <param name="/use_sim_time" value="true" />
	</group>
	
	<include file="/home/valentin/Documents/catkin_ws/src/smb_common/smb_gazebo/launch/smb_gazebo.launch">
		<arg name="world_file" value="/usr/share/gazebo-11/worlds/robocup14_spl_field.world"/>
		<arg name="debug" value="$(arg debug)"/>
		<arg name="laser_enabled" value="true"/>
		
	</include>
	
	  <node pkg="smb_highlevel_controller" type="smb_highlevel_controller" 
		name="smb_highlevel_controller" output="screen">
		<rosparam command="load" file="/home/valentin/Documents/catkin_ws/config/config.yaml"/>
	</node>
	
	<node pkg="rviz" type="rviz" name="rviz">
	</node>
	
	<node pkg="teleop_twist_keyboard" type="teleop_twist_keyboard.py" name="teleop">
    		<remap from="cmd_vel" to="robot0/cmd_vel"/>
  	</node>
</launch>
